body {
    font-family: 'Lato', san-serif;
    transition: background-color .2s;
    /* background-color: #333333; */
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  #header {
    position: fixed;
    top: 0px;
    left: 50px;
    right: 0;
    height: 50px;
    /* background: #2b2b2b; */
    background: #2c2c2c;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 9;
    overflow: hidden;
    transition: 0.2s;
    display: none;
  }

  #show-file-name {
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 50px;
    height: 50px;
  }

  .textarea-readonly {
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;

    color: #f2f2f2;
    font-size: 1.25rem;

    border: 1px solid #2c2c2c;
    background: #2c2c2c;
    text-align: center;
    outline: none;
  }
  
  .textarea-modify {
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;

    color: #f2f2f2;
    font-size: 1.25rem;

    border: 1px solid #FFF;
    background: #333;
    text-align: center;
    outline: none;
  }

  .navbar-right {
    float: right;
    padding-top: 15px;
    padding-right: 2%;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
  }

  #save {
    color: white;
    font-size: 18px;
    border-radius: 5px;
    background-color: #664c4c;
    border: none;
    outline:none;
    z-index: 999;
  }

  #save:hover {
    color: black;
    background-color: #ddd;
  }

  #link {
    float: right;
    /* padding-top: 3px; */
    padding-right: 1%;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
  }
  
  #link a {
    font-size: 35px;
    color: mediumorchid;
    text-decoration: none;
  }
  
  #link a:hover {
    color: rgb(163, 51, 190);
    text-decoration: none;
  }

  #toolbar {
    position: fixed;
    top: 0px;
    left: 50px;
    right: 0;
    height: 28px;
    background: #F5F5F5;
    z-index: 99;
    overflow: hidden;
    transition: 0.2s;
    user-select: none;
  }

  .container {
    position: fixed;
    top: 28px;
    /* top: 78px; */
    left: 50px;
    height: calc(100vh - 28px - 20px);
    right: 0;
    margin: 0 auto;
    display: block;
    transition: 0.2s;
    overflow: hidden;
    z-index: 99;
  }
  
  #overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999;
  }

  #spot-light-canvas {
    display: none;
    position: fixed;
    left: 30%;
    top: 25%;
    width: 40%;
    height: 51%;
    /* background: #fff; */
    background: #c0c0c0;
    z-index: 999999;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* overflow: auto; */
    overflow: hidden;
  }

  .spot-light-div {
    position: relative;
    height: 33.33%;
    width: 100%;
    left: 0;
    right: 0;
    /* background: #c0c0c0; */
    background: transparent;
    text-align: center;
    line-height: calc(100vh * 0.17);
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 25px;
    color: #333333;
  }

  #overlay-2 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100000;
  }

  #linear-index-canvas {
    display: none;
    position: fixed;
    left: 30%;
    top: 25%;
    width: 40%;
    height: 51%;
    /* background: #fff; */
    background: #c0c0c0;
    z-index: 1000000;
    border-radius: 13px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* overflow: auto; */
    overflow: hidden;
  }

  .linear-index-div {
    position: relative;
    height: 33.33%;
    width: 100%;
    left: 0;
    right: 0;
    /* background: #c0c0c0; */
    background: transparent;
    text-align: center;
    line-height: calc(100vh * 0.17);
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 25px;
    color: #333333;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 50px;
    right: 0;
    background-color: #FFF;
    overflow-x: hidden;
    transition: 0.2s;
    background: #333;
    z-index: 9999;
  }
  
  #sidenav-content {
    transition: margin-left .2s;
    padding: 16px;
    color: #FFFFFF;
  }

  /* .controller {
    float: right;
    padding-top: 8px;
    padding-right: 2px;
  } */

  /* .play {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 20px;
  
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;
  
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-radius: 3px; 
  
    outline:none;
  }
  
  .pause {
    margin: 6px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 21px;
  
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    cursor: pointer;
  
    border-style: double;
    border-width: 0px 0 0px 20px;
  
    outline:none;
  }

  #stop {
    margin: 6px 25px 0px 1px;
    width: 21px;
    height: 21px;
    background-color: white;

    border-radius: 3px;

    outline:none;
  
  } */
  .option {
    padding: 10px 10px 10px 10px;
    overflow: hidden;
  }

  .option label {
    font-size: 15px;
    float: left;
    width: 10%;
    line-height: 1.5;
  }
  
  .rate-value, 
  .pitch-value {
    float: right;
    width: 8%;
    line-height: 1.5;
    font-size: 15px;
  }

  .voice-select {
    margin: 10px 10px 20px 10px;
    width: 230px;
  }
  
  #rate, #pitch {
    float: right;
    width: 75%;
  }

  .language-picker {
    margin: 5px 0 0 12px;
    max-height:18px;
    font-size: 11px;
    outline:none;
  }

  .voice-controller {
    float: right;
    /* padding-top: 4px; */
    /* padding-right: 2%; */
    /* font-size: 17px; */
    /* font-weight: 600; */
    /* text-decoration: none; */
  }

  .voice-controller button {
    margin:0!important;
    background:none;
    color:inherit;
    border:none; 
    padding:4px 7px 0 7px;
    font: inherit;
    
    text-decoration: none;
    display: inline-block;
    outline:none;
  }

  #line-number {
    float: right;
    padding:2px 6px 2px 6px;
    font-style: oblique;
    font-size:18px;
    text-align: center;
    width: 170px;
  }

  #line-number label {
    font-size: 17px;
  }

  #show-line-column {
    float: right;
    padding:4px 6px 2px 6px;
    font-style: oblique;
    font-size:16px;
    text-align: center;
  }

  #left-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(100vw - 50px);
    background-color: #333;
    z-index: 999;
  }

  #github-link {
    position: absolute;
    bottom: 10px;
    width:50px;
    display:-webkit-box;
    -webkit-box-pack:center;
    user-select: none;
  }

  #github-link img{
    height: 26px;
    width: 26px;
  }

  .left-nav-button svg {
    width: 26px;
    height: 26px;
  }

  .left-nav-button {
    width: auto;
    padding: 10px 0 10px 0;
    height: 2rem;
    text-align: center;
    color: #C0C0C0;
    background:none;
    border:none;
    font: inherit;
    outline:none;
  }

  .left-nav-button:hover{
    color: white;
  }

  .left-nav-button.active {
    color: white;
  }

  #left-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0px;
    left: 50px;
    background-color: #252525;
    overflow-x: hidden;
    transition: 0.2s;
    z-index: 999;
  }

  .tabcontent {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* 用于隐藏scroll bar */
  #left-sidebar::-webkit-scrollbar {
    display: none;
  }

  #left-sidebar {
    scrollbar-width: none;
  }

  #upload-area {
    padding: 12px 15px 12px 15px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .sidebar-top-title {
    color: white;
    font-size: 15px;
    font-weight: 100;
    padding-left: 27px;

    line-height: 50px;
    height: 50px;
  }

  .sidebar-top-title p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }

  .navbar {
    color: white;
  }

  .navbar button {
    /* background-color: #252525; */
    background-color: transparent;
    border: none;
    color: white;
    width: 250px;
    padding: 7px 0 7px 35px;
    overflow: hidden;
    
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    outline:none;
  }

  .navbar button:hover {
    background-color: #343434;
    border: none;
  }

  .nav-title{
    background-color: #4b4b4b;
    border: none;
    color: white;
    width: 250px;
    margin: 0;
    padding: 5px 0 5px 10px;
    position: relative;
    height: 28px;
    overflow: hidden;
    
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    outline:none;
  }

  .dropzone {
		width: auto;
		height: calc(100vh - 120px);
		font-weight: bold;
		line-height: calc(100vh - 210px);
    text-align: center;
		color: gray;
		border: 2px dashed gray;
		cursor: default;
		font-size : 20px;
	}

	.dropzone:hover{
		color: #FFF;
    border-color: #FFF;
  }
  
  #upload {
    color: white;
    padding: 0 0 15px 0;
  }

  #file-manager-title {
    width: 220px;
  }

  #title-button-add {
    background-color: #4b4b4b;
    border: none;
    color: white;
    margin: 0;
    overflow: hidden;
    
    text-align: left;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    outline:none;

    float:right;
    padding: 5px 8px;
    position: relative;
    width: 30px;
    height: 28px;
    z-index: 9999;
  }

  .filename-readonly {
    border: inherit;
  }
  
  .filename-modify {
    border: 1px solid #FFF;
  }

  .title-icon {
    height: 12px; 
    width: 12px;
    display: inline-block;
  }

  .filename-div {
    background-color: #252525;
    /* background-color: #fff; */
    border: none;
    color: white;
    
    text-align: left;
    text-decoration: none;
    display: inline-block;
    
    font-size: 13px;
    outline:none;
    width: 250px;
    overflow: hidden;
  }

  .filename-div:hover {
    background-color: #343434;
    border: none;
  }

  .filename-div input{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    outline: none;
    overflow: hidden;
    background-color:transparent;
    font-size: 13px;
    color: #FFF;
  }

  .filename-div button {
    background-color:transparent;
    border: none;
    color: white;
    padding: 9px 8px 5px 8px;
    overflow: hidden;
    float: right;
    text-align: left;
    text-decoration: none;
    font-size: 13px;
    outline:none;
    z-index: 9999;
  }

  .filename-span{
    overflow: hidden;
    padding-left: 35px; 
    line-height: 30px;
    width: 215px;  /* 250px - 35px */
  }

  #file-manager ul {
    margin: 0;
    padding: 0;
  }

  #file-manager ul li {
    cursor: pointer;
    position: relative;
    margin: 0;
    padding: 4px 0px 4px 35px;
    list-style-type: none;
    background: transparent;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #file-manager ul li:hover {
    background-color: #343434;
    border: none;
  }

  #file-manager ul li.active {
    background: #343434;
  }
  
  .trash {
    margin: 0;
    overflow: hidden;
    padding: 3px 4px 3px 4px;
    /* background: #fff; */
    float: right;
  }

  .editable {
    margin: 0;
    overflow: hidden;
    padding: 3px 4px 3px 4px;
    /* background: #fff; */
    float: right;
  }

  .save {
    margin: 0;
    overflow: hidden;
    padding: 3px 4px 3px 4px;
    /* background: #fff; */
    float: right;
  }
  
  .input-span {
    margin: 0;
    padding: 0;
    /* background: #fff; */
  }

  #file-manager input {
    text-align: left;
    outline: none;
    overflow: hidden;
    background-color:transparent;
    font-size: 13px;
    color: #FFF;
    /* background: #fff; */
    width: 140px;
  }

  #load-demo {
    /* position:relative;  */
    text-align: center; 
    width:190px;
    background: rgb(140, 48, 177);
    padding: 8px 20px;
    margin:13px 30px 30px 30px; 
    font-size: 14px;
    overflow: hidden;
  }

  #load-demo:hover {
    background: rgb(147, 71, 177);
  }

  #load-demo-text {
    /* background: blue; */
    width:190px;
    font-weight: 100;
    line-height: 23px;
    font-size: 14px;
    margin:13px 30px 0px 30px; 
    padding: 0;
    text-align: left; 
  }

  #audio-tutorial {
    /* position:relative;  */
    text-align: center; 
    width:190px;
    background: rgb(140, 48, 177);
    padding: 8px 20px;
    margin:13px 30px 30px 30px;
    font-size: 14px;
    overflow: hidden;
  }

  #audio-tutorial:hover {
    background: rgb(147, 71, 177);
  }

  #audio-tutorial-text {
    /* background: blue; */
    width:190px;
    font-weight: 100;
    line-height: 23px;
    font-size: 14px;
    margin:13px 30px 0px 30px; 
    padding: 0;
    text-align: left; 
  }

  .navbar-toggle {
    background-color: transparent;
    border: none;
    color: #FFF;
    width: 230px;
    /* background: #FFF; */
    padding: 10px 0px 5px 10px;
    /* margin: 0 0 0 0; */
    overflow: hidden;
    
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    outline:none;
    /* background: #FFF; */
  }

  /* toggle */
  .switch {
    position: relative;
    float: right;
    /* margin-top: 3px; */
    /* display: inline-block; */
    width: 30px;
    height: 17px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

   /* console */
  .console{
    position: fixed;
    right: 0px;
    left: 50px;
    /* top: calc(100vh - 300px); */
    /* bottom: 0px; */
    /* background: #2b2b2b; */
    top: calc(100% - 20px);
    height: 330px;
    background: #F5F5F5;
    z-index: 9999;
    overflow: hidden;
    transition: 0.2s;
    /* border-top:1px solid #bbbbbb; */
  }

  #console-button-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 29px;
    /* border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb; */
    overflow: hidden;
  }

  .console button {
    /* background: #2196F3; */
    /* display: inline-block; */
    background: transparent;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 20px;
    width: auto;
    outline: none;
    border: none;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
  }

  .console button:hover {
    color: rgb(88, 86, 214);
    /* background: #FFF; */
  }

  .result {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    width: calc((100vw - 50px)*0.6);
    overflow: hidden;
    background: #FFF;
  }

  #result-iframe {
    height: calc(330px - 30px);
    /* width: calc((100vw - 50px)*0.6); */
    width: 100%;
    border: 0px none #ffffff;
  }

  #console-log {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: calc((100vw - 50px)*0.6);
    right: 0;
    /* background: #202020; */
    background: #FFFFFF;
    border-left: 1px solid #dddddd;
    overflow: auto;
  }

  #log-iframe {
    height: calc(330px - 30px);
    width: 100%;
    border: 0px none #ffffff;
  }

  .log-boolean,
  .log-undefined {color: magenta;font-size:12px;}
  .log-object,
  .log-string {color: orange;font-size: 12px;}
  .log-number {color: cyan;font-size: 12px;}